<!DOCTYPE html>
<html>
<head>
    <title>Shift Patterns</title>
</head>
<body>
    <h1>Shift Patterns</h1>
    <ul>
        {% for pattern in shift_patterns %}
            <li>
                {{ pattern.name }}: {{ pattern.rotation_weeks }} week(s), Start Date: {{ pattern.start_date }}
                <ul>
                    {% for block in pattern.blocks.all %}
                        <li>{{ block.days_on }} days on, {{ block.days_off }} days off, from {{ block.start_time }} to {{ block.end_time }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'shiftpattern_create' %}">Create New Shift Pattern</a>
</body>
</html>